@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #007AF3;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    background: white;
    padding: 1em;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

span {
    color: var(--primary-color);
}

nav {
    display: none;
}

.container {
    display: flex;
    place-content: space-between;
}

.mobile-menu {
    cursor: pointer;
}

a {
    color: #444444
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;

}



.subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: grey;
    letter-spacing: .3em;
}

h1 {
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: .2em;
}

.primary-cta {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
}

.watch-video-cta {
    display: block;
    margin-top: 1em;
}

img {
    margin-right: .5em;
}

.hero-image {
    margin-top: 3em;
    width: 70%;
}

.features-section {
    background-color: #20272e;
    color: whitesmoke;
}

.ul-featureslist {
    margin: 0;
    padding-left: .1em;

}

li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
}
li::before {
    content:'';
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('images/RememberThat/person.jpg');
    background-size: contain;
    margin-right: .5em;

}

.features-section img{
    display: none;
}

.testimonials-section {
    background-color: var(--primary-color);

}

img {
    width: 5em;
    height: 5em;
}